<html>
    <head>
        <title>Ashish's Bunkmate😊</title>
    </head>
<body>
    <hr noshade>
    <h1><abbr title="Ashish Bhai Bolthe"><img src="staticFiles\ashishtextnew.jpg" width="100" height="80"></abbr><center>Bunkmate</center></h1>
    <hr noshade>
    <p><marquee bgcolor="#ee82ee"><h2>Welcome to our First website</h2></marquee></p>
    <p  style="font-family:verdana"><h2><center>Mawa niku Entha attendance kavalo cheppu,Nuvvu enni classes attend kavalo nen cheptha</center></h2></p>
    <!--<table>
        <thead>
        <tr>
            <td>
            <input type="radio" id="75" name="fav" value="75"><label for="75">75 </label></td>
            <td><input type="radio" id="80"  name="fav" value="80"><label for="80">80 </label> </td>
            <td><input type="radio" id="85" name="fav" value="85"><label for="85">85 </label></td>
            <td><input type="radio" id="90" name="fav" value="90"><label for="90">90 </label></td>
            <td><input type="radio" id="95" name="fav" value="95"><label for="95">95 </label></td>
            <td><input type="radio" id="100" name="fav" value="100" ><label for="100">100 </label>
            </td>
       </tr>

        </thead>
    </table>    -->
    
    
    
    <form action="/percentage" method="POST">
        <label><small>Entha Percentage Attendance Kavali Mama neeku?:</small></label>
            <input type="text" placeholder="Enter Percentage" name = "Percent_req">
            <input type="Submit">
        <br><br>
            <label><small>Attendance Enni classes Undhi Mawa:</small></label>
            <input type="text" placeholder="Enter Percentage" name = "Percent">
            <input type="Submit">
            <br><br>
            <label><small>Motham Enni Classes Mawa:</small></label>
            <input type="text" placeholder="Enter No Of Classes" name = "Classes">
            <input type="Submit">
            <br><br>
            <div>
                {{message}}
            </div> 
    </form>




</body>
</html>